<!doctype html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">
  <title>Aqing Sir Blog</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  <link rel="stylesheet" href='{% static "articles/css/app.css"%}'>
  <link rel="stylesheet" href="http://picturebag.qiniudn.com/monokai.css">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="footer">
    <div>
      <ul>
        <li><a href="#">aqingsir的博客</a></li>
        <li><a href="http://how2read.me">程序员最容易读错的单词</a></li>
      </ul>
    </div>
  </div>
  <script type="text/javascript" src="{% static "articles/js/baidu.js" %}"></script>
</body>
</html>